<h1>User <%= @user.email %></h1>
<div id='gravatar-show'>
	<%= gravatar_for @user %>
</div>
<div class='container user-badges'>
	<% @badges.each do |badge| %>
		<span><%= image_tag badge %></span>
	<% end %>
</div>