<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<div id='map'></div>

<style type="text/css">
	
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<script type="text/javascript">
	
	var	map = L.mapbox.map('map', 'dhurley99.j8dg121l').setView([43.655, -79.401], 13);

	var geojson = { type: 'LineString', coordinates: [] };
var start = [5, 20];
var momentum = [3, 3];

for (var i = 0; i < 300; i++) {
    start[0] += momentum[0];
    start[1] += momentum[1];
    if (start[1] > 60 || start[1] < -60) momentum[1] *= -1;
    if (start[0] > 170 || start[0] < -170) momentum[0] *= -1;
    geojson.coordinates.push(start.slice());
}

// Add this generated geojson object to the map.
L.geoJson(geojson).addTo(map);

// Create a counter with a value of 0.
var j = 0;

// Create a marker and add it to the map.
var marker = L.marker([0, 0], {
  icon: L.mapbox.marker.icon({
    'marker-color': '#f86767'
  })
}).addTo(map);

tick();
function tick() {
    // Set the marker to be at the same point as one
    // of the segments or the line.
    marker.setLatLng(L.latLng(
        geojson.coordinates[j][1],
        geojson.coordinates[j][0]));

    // Move to the next point of the line
    // until `j` reaches the length of the array.
    if (++j < geojson.coordinates.length) setTimeout(tick, 100);
}
</script>