<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<div id='map'></div>

<style type="text/css">
	
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<script type="text/javascript">
	L.mapbox.accessToken = 'pk.eyJ1IjoiZGh1cmxleTk5IiwiYSI6IjYyMHJZQjAifQ.4o5afc1bToYBBxS-QPIoZw';
	var	map = L.mapbox.map('map', 'dhurley99.j8dg121l').setView([43.655, -79.401], 14);


// Create array of lat,lon points.
var line_points = [
    [43.655, -79.401],
    [43.655, -79.5],
    [43.655, -80]
];

// Define polyline options
// http://leafletjs.com/reference.html#polyline
var polyline_options = {
    color: 'blue'
};

// Defining a polygon here instead of a polyline will connect the
// endpoints and fill the path.
// http://leafletjs.com/reference.html#polygon
var polyline = L.polyline(line_points, polyline_options).addTo(map);


</script>