<div class='container'>
	
	<h1 class='page-header'>How to Play</h1>
	<div class='row'>
		<div class='col-md-6 col-md-offset-4'>
			<ol class='rules-list'>
				<li>Have fun!</li>
				<li>Answer riddles to find locations.</li>
				<li>Checkin at location to recieve a badge.</li>
				<li>Collect as many badges as you can!</li>
			</ol>
		</div>
	</div>
</div>