/* Navbar */

#nav {
	list-style-type: none;
	float:right;
	border: 2px solid black;
	width: 100%;
	height: 3rem;
	position: absolute;
	top: 0;
	text-align: center;
	background: black;

	& li {
		display: inline-block;
		margin-right: 1rem;
		font-size: 1.5rem;

		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	& a {
		color: white;
		text-decoration: none;
	}

}

h1 {
	padding-top: 1.5rem;
	margin-top: 2rem;
	font-size: 26px;
}

/* Display Users */

#user-list {
	display: block;
	margin-left: 0;
	& ul {
	padding-left: 0;
	}
	& ul:last-child {
	margin-bottom: 10rem;
	}
}

.user-index {
	margin-top: 7rem;
	height: 6rem;
	width: 100%;
	text-align: left;
	border-top: 2px solid gray;
	padding-left: 2rem;
	list-style-type: none;

	& .user-name {
		display:block;
		padding-top: .5rem;
	}
}

.gravatar {
	padding-top: 1rem;
}

#gravatar-show {
	display: block;
	margin: 0 auto;
	height: 52px;
	width: 52px;
}

/* Forms */

.signup {
	display:block;
	margin: 0 auto;
	height: 25rem;
	width: 25rem;
	text-align: center;
}

/* Bootstrap Custom */

.selectpicker {
	margin-bottom: 1rem;
}
