/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navbar */

#nav {
	list-style-type: none;
	float:right;
	border: 2px solid black;
	width: 100%;
	height: 2rem;
	position: absolute;
	top: 0;
	text-align: center;
	background: black;

	& li {
		display: inline-block;
		margin-right: 1rem;

		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	& a {
		color: white;
		text-decoration: none;
	}

}

h1 {
	padding-top: 1.5rem;
	margin-top: 1rem;
	font-size: 26px;
}

/* Display Users */

#user-list {
	width: 100%;
	display: block;
}

.user-index {
	margin-top: 2rem;
	height: 6rem;
	width: 100%;
	text-align: left;
	border-top: 2px solid gray;
	padding-left: 2rem;

	& .user-name {
		display:block;
		padding-top: .5rem;
	}
}

.gravatar {
	padding-top: 1rem;
}

#gravatar-show {
	display: block;
	margin: 0 auto;
	height: 52px;
	width: 52px;
}