#table {
		width: 45rem;
		height: 100%;
		margin: 0 auto;
	}

	#user-row {
	height: 15rem;
	}

	#user-row p {
		margin-top: 5rem;
	}

	#user-row:hover {
		background: #e9e9e9;
		cursor: pointer;
	}

.user-profile-container {
	text-align: center;
}

.user-badges {
	position: relative;
	top: 20px;
	background-color: #95a5a6;
	width: 100%;
	border-top: 1px solid #7f8c8d;
}

.user-badge {
	height: 100px;
	width: 100px;
	margin: 5px;
	border-radius: 50px;
}

#gravatar-show {
	height: 200px;
	width: 100%;

	img {
		height: 200px;
		width: 200px;
	}

}