.user-list {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.badge-count {
	width: 200px;
	float: left;
	text-align: center;
	font-size: 3rem;

	p {
		position: relative;
		top: 30px;
		margin: 0;
	}
}

.user-info {
	width: 200px;
	float:left;
	text-align: left;

	a {
		color: black;
		font-size: 1.5rem;
		position:relative;
		top: 30px;

		&:hover {
			color: #3498db;
			text-decoration: none;
		}
	}
}

.user-container {
	height: 60px;
}